<h1>PROJECTS</h1>
       <div id="project" class="self" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://img.freepik.com/premium-vector/motion-video-designer-online-service-platform-artist-create-computer-animation-multimedia-project-online-portfolio-vector-illustration_613284-3071.jpg?w=2000" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Portfolio</h1>
                <p>In this project i have given the details about myself and my project details also and this project is also updated on github.</p>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://thumbs.dreamstime.com/b/management-education-school-course-idea-business-work-people-strategy-making-success-isolated-vector-illustration-194973638.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Student management</h1>
                <p>In this project i have provided the facility for students to keep their work updated on this website like managing thier notes and can submit their assignments also.</p>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://img.freepik.com/free-vector/meteorology-abstract-concept-vector-illustration-met-station-meteorology-program-university-degree-weather-prediction-method-measuring-instruments-atmosphere-study-abstract-metaphor_335657-1980.jpg?w=2000" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>weather app</h1>
                <p> In this project i have used the API of from weather app which shows the real time weather status of any country and aslo shows the weather icons.</p>
              </div>
            </div>
          </div>    
       </div>
       
       
       
       
       <div style="margin-top: 10%;">
       <button mat-raised-button color="warn" (click)="on()">Call</button>
       <div>
       <h2>{{show |json}}</h2>