
form{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid rgba(125, 197, 245, 0.742);
    width: 35%;
    border-radius: 5px;
    text-align: center;
    padding: 3%;
    background-image: url('https://img.freepik.com/premium-photo/watercolor-light-peach-color-background-texture_145343-657.jpg?w=2000');

}

