 
  <header class="header">
    <div class="logo">
      <h2>Portfolio</h2>
    </div>
  
    <div class="navbar">
      <input type="checkbox" class="toggle-menu"><div class="hamburger"></div>
      <ul class="menu">
        <li><a routerLink="">HOME</a></li>
       <li > <a (click)="loadadmin()" routerLink="about">ABOUT</a></li>
        <li><a routerLink="projects">PROJECTS</a></li>
        <li><a routerLink="contact">CONTACT</a></li>
        <li><a routerLink="register">REGISTER</a></li>
        <li><a routerLink="login">LOGIN</a></li>
        <li><a routerLink="admin/loged">LOGED</a></li>
        <li><a routerLink="admin/list">LIST</a></li>
        
        </ul>
     </div>
     </header>
     <router-outlet></router-outlet>
     

     
       
        
    
    
    
       
